html, body {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 33px;
  /* force both to fill the screen so child elements can if
   * they want to */
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

h1, h2, h3 {
  /* Use padding instead of margin so the edges of text aren't 
   * cut off */
  padding: 22px 15px 0 15px;
  opacity: 0.66;
  font-variant: small-caps;
  white-space: nowrap;
}
h1 {
  font-size: 55px;
  line-height: 55px;
}
h2 {
  font-size: 44px;
  line-height: 44px;
  opacity: 0.5;
}
h3 {
  font-size: 33px;
  line-height: 33px;
}

p, aside {
  /* Use padding instead of margin so the edges of text aren't 
   * cut off */
  padding: 33px 15px 0 15px;
  font-family: Baskerville, freight-text-pro, Cambria, Georgia, 'Times New Roman', Times, serif;
  opacity: 0.5;
  white-space: normal;
  text-align: justify;
}

p:last-child {
  padding-bottom: 33px;
}

em, aside {
  font-style: italic;
}

strong {
  font-weight: bold;
}
