
.p-bg-solid-dark {
  background-color: #191614;
}

.p-layout-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.p-layout-full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p-nav-top li {
  display: inline-block;
}
