
.p-bg-solid-dark {
  background-color: #191614;
}

.p-layout-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.p-layout-full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p-nav-horiz {
  /* font-size: 22px; */
}
.p-nav-horiz li {
  display: inline-block;
  opacity: 0.5;
}
.p-nav-horiz li:hover {
  opacity: 1;
}
.p-nav-horiz a {
  border-bottom: 20px solid rgb(255, 255, 255);
  color: white;
}
.p-nav-horiz a:hover {
  border-bottom-color: rgb(221, 44, 74);
}
