.u-pull-right {
  float: right !important;
}

.u-center-text {
  text-align: center;
}

.u-zi-bg {
  z-index: 0 !important;
}

.u-zi-nav {
  z-index: 5 !important;
}

.u-zi-animation {
  z-index: 4 !important;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.u-cf:before,
.u-cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.u-cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.u-cf {
    *zoom: 1;
}

.u-pack-vert {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-pack-horiz {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-scroll-vert {
  overflow-y: scroll !important;
}

.u-center {
  display: -ms-Flexbox !important;
	-ms-box-orient: horizontal !important;

	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: flex !important;

  -webkit-align-items: center !important;
	-moz-align-items: center !important;
	-ms-align-items: center !important;
	align-items: center !important;

  -webkit-justify-content: center !important;
	-moz-justify-content: center !important;
	-ms-justify-content: center !important;
	justify-content: center !important;
}

.u-full-height {
  display: block;
  height: 100% !important;
}

.u-inline {
  display: inline !important;
}

.u-bg-fixed {
  background-attachment: fixed !important;
}

@media (max-width: 700px) {
  .u-only-desktop {
    display: none !important;
  }
}

@media  (min-width: 701px) {
  .u-only-mobile {
    display: none !important;
  }
}
